.new-post-button {
  width: 800px;
  height: 50px;
  border-radius: 4px;
  border: 2px solid #d3f5ff;
  text-transform: uppercase;
  cursor: pointer;
}

.order-label {
  color: #696969;
  font-weight: 300;
}

.order-posts {
  display: block;
  width: 200px;
  height: 30px;
  border-radius: 4px;
  margin: 10px auto;
  text-transform: uppercase;
}


